extends layout

block content
  .main-container
    .container.animation-container
      .row
        .column.column-50
          img.img-left(src="http://demo.cssmoban.com/cssthemes4/tops_36_rabbit/assets/images/home.jpg", alt="")
        .column.column-50
          .person-logo
            img(src="http://demo.cssmoban.com/cssthemes4/tops_36_rabbit/assets/images/logo.png", alt="")
            h5 I am yifan
          p.about-description
            | Hi, I am yifan, Web developer from michigan, 
            | US. I am passionate about design, development and interaction. I really love what I do.
          .btn-group-vertical
            button.button-vertical.button.button-outline About
            button.button-vertical.button.button-outline Contact
            button.button-vertical.button.button-outline Work