extends layout

block content
  div.article-container
    .container
      .title-wrapper
        h1.article-detail-title From the Desk
        p.tag work
      .article-content
        .article-markdown-content.
          !{result}
        p.
          In the past four years, though, while I was working at Shopify I didn’t follow my own advice. I had a writing portfolio but let my portfolio languish. As a result, when I finally went through this process I found it difficult to describe my projects a year or two or even three out from launch. The broad strokes are there but the details are lost.Most of the production work was gone because product iterations overwrite. Even my process work had been thrown away, misplaced, or left behind. While I was able to dig up some mock-ups, it wasn’t the same and it was tedious to remake them.I generally try to lead by example. So, here it is again:
        p.
          The main reason behind this redesign was to add the case studies–I wanted to feel “finished” with my last position and it felt strange to leave a position with no documentation. I also had a sneaking suspicion that the content was overgrowing the last design and I needed to make room for more writing in the future.