extends layout

block content
  main.wrapper
    nav.navigation
      section.container
        a(href="#").navigation-title
          h1.title Milligram
        ul.navigation-list.float-right
          li.navigation-item
            a(href="#").navigation-link Docs
          li.navigation-item
            a(href="#").navigation-link Support

