extends layout

block content
  header.header
    .container

      
  .container.animation-container
    each item in articles
      div.article-item
        div.article-message
          span.data #{item.createdTime} · 
          span.category #{item.category.name}
        h3.article-title #{item.title}
        h5.article-summary #{item.description} ..
        a(href="article/" + item.id target="value").read-btn READ