extends layout

block content
  main.wrapper
    nav.navigation
      section.container
        a(href="#").navigation-title
          h1.title Stutter
        ul.navigation-list.float-right
          li.navigation-item
            a(href="#").navigation-link Home
          li.navigation-item
            a(href="#").navigation-link Article
          li.navigation-item
            a(href="#").navigation-link About
    .container
      .row
        h1 123

