extends layout

block content
  header.header
    .container
      
  .container
    div.article-item
      div.article-message
        span.data Janary 2015 · 
        span.tag work
      h3.article-title From the Desk of the Politely Angry
      h5.article-summary At the begining of 2017. Shopify released my theme lookbook.It was my first theme form shopify and it has gone on to become...
      a(href="article").read-btn READ

    div.article-item
      div.article-message
        span.data Janary 2015 · 
        span.tag work
      h3.article-title From the Desk of the Politely Angry
      h5 At the begining of 2017. Shopify released my theme lookbook.It was my first theme form shopify and it has gone on to become...
      a(href="article").read-btn READ

    div.article-item
      div.article-message
        span.data Janary 2015 · 
        span.tag work
      h3.article-title From the Desk of the Politely Angry
      h5 At the begining of 2017. Shopify released my theme lookbook.It was my first theme form shopify and it has gone on to become...
      a(href="#").read-btn READ