extends layout

block content
  header.header
    .container
      - var messages = flashMessage && flashMessage.messages
      - if (messages)
        - var messageKeys = Object.keys(messages)
        each messageKey in messageKeys
          p
          = messages[messageKey]
      
  .container
    each item in articles
      div.article-item
        div.article-message
          span.data Janary 2015 · 
          span.category #{item.category.name}
        h3.article-title #{item.title}
        h5.article-summary #{item.description} ..
        a(href="article/" + item.id).read-btn READ