extends layout

block append head

block content
  div.article-container
    .markdown-edit.row
      .main.column.column-50
        form.note-form(action="/create" method="post")
          input(type="hidden" name="_csrf" value=csrf)
          input.title#article-title(type="text" name="note_title" onkeyup="addToConvert()")
          textarea#markdown-editor(onkeyup="convert()" name="content")
          input(type="submit", value="submit")
      .preview.column.column-50
        h1 title
        #result




block dynamicJs
  script(src='/js/showdown.min.js')
  script.
    function convert() {
      var text = document.getElementById("markdown-editor").value;
      var converter = new showdown.Converter();
      var html = converter.makeHtml(text);
      document.getElementById("result").innerHTML = html;
    }

    function addToConvert() {
      var text  = document.getElementById("article-title").value;
      
    }



  
