extends ../layout

block content
  div.main-container
    .container
      .title-wrapper
        h1.article-detail-title #{articleTitle}
        p.category #{category}
      .article-content
        .article-markdown-content.
          !{result}

block dynamicJs
  script.
    hljs.initHighlightingOnLoad()

    
  