extends ../layout

block content
  div.article-container
    .container
      .title-wrapper
        h1.article-detail-title #{articleTitle}
        p.tag #{tag}
      .article-content
        .article-markdown-content.
          !{result}