extends ../layout

block append head
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

block content
  div.main-container
    .container.create-container
      .row
        .article-category-side.column.column-20
          ul.category-list
            each item in categories
              li(id=item.id) #{item.name}
        .article-form.column.column-60
          include ./form.pug


block dynamicJs
  script(src='/js/showdown.min.js')
  script.
    var simplemde = new SimpleMDE({ element: document.getElementById("markdown-editor") });
  script.
    $(document).ready(function() {
      $('.category-list li:first').addClass('active');
      $('input[name="categoryId"]').val($('.category-list li:first').attr('id'));
      $('.category-list li').click(function(){
        $('.category-list .active').removeClass('active');
        $(this).addClass('active');

        $('input[name="category"]').val($(this).attr('id'));
      })
    });
