extends ../layout

block append head
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

block content
  div.main-container
    .container.create-container
      .row
        .article-category-side.column.column-20
          .new-category-section
            .new-category-add
              i.fa.fa-plus
              span New create
            .new-category-form.hidden
              input(type="hidden" name="_csrf" value=csrf)
              input(type="text" placeholder="Enter the new Category Name" name="newCategoryName")
              button.button.button-outline.btn-small#btn-create Create
              button.button.button-clear.btn-small#btn-cancel Cancel
          ul.category-list
            each item in categories
              li(id=item.id) #{item.name}
        .article-form.column.column-60
          include ./form.pug


block dynamicJs
  script(src='/js/showdown.min.js')
  script.
    var simplemde = new SimpleMDE({ 
                        element: document.getElementById("markdown-editor"),
                        autoDownloadFontAwesome: false
                        });
  script.
    $(document).ready(function() {
      $('.category-list li:first').addClass('active');
      $('input[name="categoryId"]').val($('.category-list li:first').attr('id'));
      $('.category-list li').click(function(){
        $('.category-list .active').removeClass('active');
        $(this).addClass('active');

        $('input[name="category"]').val($(this).attr('id'));
      })

      // add category show
      $('.new-category-add').click(function(){
        $('.new-category-form').removeClass('hidden');

        $('#btn-create').click(function(){
          

          // validate
          let newcategoryName = $('input[name="newCategoryName"]').val();
          let csrf = $('input[name="_csrf"]').val()
          $.ajax({
            type: 'post',
            url: '/category/create',
            cache: false,
            dataType: 'json',
            data: {
              newcategoryName: newcategoryName,
              _csrf: csrf
            },
            success: function(data) {
              if(date == null) {
                alert('server error');
              }
              alert('123');
            }
          })
        });


        $('#btn-cancel').click(function(){
          $('.new-category-form').addClass('hidden');
        });
      })
    });
