extends ../layout

block append head
  <link rel="stylesheet" href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css">
  <script src="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.js"></script>

block content
  div.main-container
    .container.create-container
      include ./form.pug


block dynamicJs
  script.
    var simplemde = new SimpleMDE({
                        element: document.getElementById("markdown-editor"),
                        autoDownloadFontAwesome: false,
                        renderingConfig:{
                          status: false,
                          codeSyntaxHighlighting: true
                          }
                        });
  script(src="/js/article.js")