extends ../layout

block append head
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

block content
  div.main-container
    .container.create-container
      include ./form.pug

block dynamicJs
  script.
        var simplemde = new SimpleMDE({ 
                        element: document.getElementById("markdown-editor"),
                        autoDownloadFontAwesome: false,
                        renderingConfig:{
                          codeSyntaxHighlighting: true
                          }
                        });
    simplemde.value(document.getElementById("hidden-content").value);
  script(src="/js/article.js")