form.note-form(action="/create" method="post")
    input(type="hidden" name="_csrf" value=csrf)
    input.title#intput-title(type="text" name="note_title")
    textarea#markdown-editor( name="content")
    input(type="submit", value="submit")