.article-item {
    margin-bottom: 6rem;
    border-bottom: 1px solid transparent;
}

.article-item:hover {
    border-bottom: 1px solid silver;
    border-radius: 5px;
    /* box-sizing: content-box; */
}

.article-message {
    font-weight: bold;
    padding-bottom: 1rem;
}

.article-message .date {
}

.article-message .tag {
    color: #FF6600;
}

.article-title {
    color: #515151;
    margin-bottom: 1rem;
}

.article-summary {
    margin-bottom: 1rem;
}

.read-btn {
    font-weight: bold;
    font-size: 18px;
}

.article-container {
    padding-top: 10rem;
}

.title-wrapper {
    text-align: center;
}

.article-detail-title {
    color: #515151;
    text-align: center;
    font-weight: 500;
    /* letter-spacing: .1rem; */
    margin-bottom: .5rem;
}

.title-wrapper .tag{
    color: #FF6600;
    font-size: 2.5rem;
}

.article-content {
    font-size: 1.8rem;
    letter-spacing: -.05rem;
    line-height: 1.5;
}

.article-content h1 {
    color: #818181;
}

::selection {
    background: #ff0;
}