html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
.wrapper {
    flex: 1 0 auto;
}



.navigation-title {
    margin-right: 5rem;
}

.navigation .navigation-item-right {
    float: left;
    margin-bottom: 0;
    margin-right: 2rem;
    position: relative
}

.navigation .user {
    padding-top: 1rem;
    padding-bottom: .7rem;
}

.navigation .user:hover {
    background: #e8eaec;
}

.open>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    min-width: 12rem;
    margin-top: .7rem;
    position: absolute;
    font-size: 2rem;
    margin-left: 0;
    list-style: none;
    border-color: transparent;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    filter: drop-shadow(0 2px 8px rgba(0,0,0,.1));
    -webkit-filter: drop-shadow(0 2px 8px rgba(0,0,0,.1));
    display: none;
}

.dropdown-menu .dropdown-menu-item {
    list-style: none;
    margin-bottom: 0;
}

.dropdown-menu .dropdown-menu-item:hover {
    background: #f5f5f5;
}

.dropdown-menu .dropdown-menu-item a{
    display: block;
    padding: 15px 20px;
    line-height: 20px;
    white-space: nowrap;
}

.avatar {
    display: block;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}




.navigation-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #42b983;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.navigation-link:hover:after {
    visibility: visible;
    transform: scaleX(1)
}

.navigation a.navigation-link.active:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #42b983;
    transform: scaleX(1);
    visibility: visible; 
}


.article-item {
    margin-bottom: 6rem;
    border-bottom: 1px solid transparent;
}

.article-item:hover {
    border-bottom: 1px solid silver;
    border-radius: 5px;
    /* box-sizing: content-box; */
}

.article-message {
    font-weight: bold;
    padding-bottom: 1rem;
}

.article-message .date {
}

.article-message .tag {
    color: #FF6600;
}

.article-title {
    color: #515151;
    margin-bottom: 1rem;
}

.article-summary {
    margin-bottom: 1rem;
}

.read-btn {
    font-weight: bold;
    font-size: 18px;
}

.main-container {
    padding-top: 10rem;
}

/* about page */
.person-logo {
    text-transform: uppercase;
    text-align: center;
    padding-top: 6rem;
}

.about-description {
    text-align: center;
    padding: 0rem 5rem 0rem;
    font-style: italic;
    font-weight: 600;
    font-size: 1.8rem;
}

.button-vertical {
    width: 13rem;
    display: block;
    margin: 1rem auto 2rem;
    font-style: italic;
}

/* article-create page */
.article-category-side {
    background: #8b8d9b;
    color: whitesmoke;
}
.article-category-side ul {
    list-style: none;
    padding: 0 1rem;
}

.article-category-side ul li {
    cursor: pointer;
    height: 3rem; 
    margin-bottom: 0;
    line-height: 3rem;
    position: relative;
}

.article-category-side ul .active:before{
    content: "";
    position: absolute;
    left: -10px;
    height: 90%;
    width: 3px;
    background-color: #42b983;
    transform: scaleY(1);
    visibility: visible; 
}

.article-category-side ul li:hover:before{
    visibility: visible;
    transform: scaleY(1);
}

.article-category-side ul li:before {
    content: "";
    position: absolute;
    left: -10px;
    height: 90%;
    width: 3px;
    background-color: #42b983;
    visibility: hidden;
    transform: scaleY(0);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}



.main-container .create-container {

    max-width: 100%
}

.title-wrapper {
    text-align: center;
}

.article-detail-title {
    color: #515151;
    text-align: center;
    font-weight: 500;
    /* letter-spacing: .1rem; */
    margin-bottom: .5rem;
}

.title-wrapper .tag{
    color: #FF6600;
    font-size: 2.5rem;
}

.article-content {
    font-size: 1.8rem;
    letter-spacing: -.05rem;
    line-height: 1.5;
}

.article-content h1 {
    color: #818181;
}

.login-form {
    width: 20em;
    margin: auto;
}

#intput-title {
    height: 5rem;
    font-size: 2.8rem;
    line-height: 1.2;
    color: #606c76;
    border-bottom: 0px;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.note-form input[type='text']:focus {
    border-color:#d1d1d1;
}

.editor-toolbar {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

/* Export Animations */
.login-form>button{animation:tracking-in-expand-fwd 0.9s 0s 1 normal both}
.login-form>input{animation:tracking-in-expand 1s 0s 1 both}
.login-form>input{animation:tracking-in-expand 1s 0s 1 both}
.login-form>h2{animation:tracking-in-expand-fwd-bottom 1s 0s 1 both}

/* export keyframes  */
@Keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -.5em;
    transform: translateZ(-700px);
    opacity: 0
  }
  40% {
    opacity: .6
  }
  to {
    transform: translateZ(0);
    opacity: 1
  }
}
@Keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }
  40% {
    opacity: .6
  }
  to {
    opacity: 1
  }
}
@Keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -.5em;
    transform: translateZ(-700px) translateY(500px);
    opacity: 0
  }
  40% {
    opacity: .6
  }
  to {
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}
  

@media (max-width:15rem) {
    .login-form {
        width: 15em;
    }
}

@media (min-width:80rem) {
    .login-form {
        width: 25em;
    }
}

.footer {
    flex: 0 0 auto;
    text-align: center;
    width: 98%;
    bottom: 0;
}

.fixed-bottom {position: fixed;bottom: 0;width:100%;}

::selection {
    background: #ff0;
}

.markdown-edit {
    height: 100%
}

.markdown-edit .main {
    border-right: 1px solid #d9d9d9;
}

.markdown-edit .note-from {
    height: 100%;
}

.markdown-edit .preview {
    bottom: 0;
    padding: 40px;
    padding-bottom: 0;
}

.markdown-edit textarea {
    border: 0;
    padding: 40px 40px 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    resize: none;
    color: #2f2f2f;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    resize: none;
}
