
.navigation-link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 10px;
    left: 0;
    background-color: #42b983;
    visibility: hidden;
    transform: scaleX(0);
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.navigation-link:hover:after {
    visibility: visible;
    transform: scaleX(1)
}


.article-item {
    margin-bottom: 6rem;
    border-bottom: 1px solid transparent;
}

.article-item:hover {
    border-bottom: 1px solid silver;
    border-radius: 5px;
    /* box-sizing: content-box; */
}

.article-message {
    font-weight: bold;
    padding-bottom: 1rem;
}

.article-message .date {
}

.article-message .tag {
    color: #FF6600;
}

.article-title {
    color: #515151;
    margin-bottom: 1rem;
}

.article-summary {
    margin-bottom: 1rem;
}

.read-btn {
    font-weight: bold;
    font-size: 18px;
}

.article-container {
    padding-top: 10rem;
}

.title-wrapper {
    text-align: center;
}

.article-detail-title {
    color: #515151;
    text-align: center;
    font-weight: 500;
    /* letter-spacing: .1rem; */
    margin-bottom: .5rem;
}

.title-wrapper .tag{
    color: #FF6600;
    font-size: 2.5rem;
}

.article-content {
    font-size: 1.8rem;
    letter-spacing: -.05rem;
    line-height: 1.5;
}

.article-content h1 {
    color: #818181;
}

.login-form {
    width: 20em;
    margin: auto;
}

#intput-title {
    height: 5rem;
    font-size: 2.8rem;
    line-height: 1.2;
    color: #606c76;
    border-bottom: 0px;
    margin-bottom: 0px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.note-form input[type='text']:focus {
    border-color:#d1d1d1;
}

.editor-toolbar {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

/* Export Animations */
.login-form>button{animation:tracking-in-expand-fwd 0.9s 0s 1 normal both}
.login-form>input{animation:tracking-in-expand 1s 0s 1 both}
.login-form>input{animation:tracking-in-expand 1s 0s 1 both}
.login-form>h2{animation:tracking-in-expand-fwd-bottom 1s 0s 1 both}

/* export keyframes  */
@Keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -.5em;
    transform: translateZ(-700px);
    opacity: 0
  }
  40% {
    opacity: .6
  }
  to {
    transform: translateZ(0);
    opacity: 1
  }
}
@Keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0
  }
  40% {
    opacity: .6
  }
  to {
    opacity: 1
  }
}
@Keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -.5em;
    transform: translateZ(-700px) translateY(500px);
    opacity: 0
  }
  40% {
    opacity: .6
  }
  to {
    transform: translateZ(0) translateY(0);
    opacity: 1
  }
}
  

@media (max-width:15rem) {
    .login-form {
        width: 15em;
    }
}

@media (min-width:80rem) {
    .login-form {
        width: 25em;
    }
}

.footer {
    text-align: center;
    position: absolute;
    width: 98%;
    bottom: 0;
}

::selection {
    background: #ff0;
}

.markdown-edit {
    height: 100%
}

.markdown-edit .main {
    border-right: 1px solid #d9d9d9;
}

.markdown-edit .note-from {
    height: 100%;
}

.markdown-edit .preview {
    bottom: 0;
    padding: 40px;
    padding-bottom: 0;
}

.markdown-edit textarea {
    border: 0;
    padding: 40px 40px 0;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    resize: none;
    color: #2f2f2f;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    resize: none;
}
